@model IEnumerable<PlentyData.Models.Entidade>

@{
    ViewData["Title"] = "Cliente";
}

<h3>Cliente</h3>
<h6>Lista</h6>

<p>
    <a asp-action="Create" class="btn btn-info btn-sm">Cadastrar Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeRazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoEstadual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoMunicipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJCPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoEstadual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoMunicipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhe</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
