@model IEnumerable<PlentyData.Models.Empresa>
@{
    ViewData["Title"] = "Empresa";
}


<h5>@ViewData["Title"]</h5>
<h1></h1>
<p>Dados Cadastrais</p>
<p style="text-align:right">
    <a asp-action="Create" class="btn btn-info btn-sm">Cadastrar Empresa</a>
</p>
<hr></hr>


<table class="table table-striped table-hover">
    <thead>
        <tr class="table-primary">
            <th style="text-align:center">
                @Html.DisplayName("Código")
            </th>
            <th>
                @Html.DisplayName("Razão Social")
            </th>
            <th>
                @Html.DisplayName("Nome Fantasia")
            </th>
            <th>
                @Html.DisplayName("CPF/CNPJ")
            </th>
            <th>
                @Html.DisplayName("IE")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Ativo")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Ações")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpfCnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IE)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td style="text-align:center">
                <bottom><a asp-action="Edit" class="btn btn-info btn-sm" asp-route-id="@item.Id">Editar</a></bottom>
                </td>
            </tr>
        }
    </tbody>
</table>



