@model IEnumerable<PlentyData.Models.Produto>

@{
    ViewData["Title"] = "Produto";
}

<h3>Produto</h3>
<h6>Lista</h6>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.NomeFiscal)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Ncm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gtin)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)   {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ncm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gtin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr> 
        }*@
    </tbody>
</table>
