@model IEnumerable<PlentyData.Models.ProdutoListaValor>
@{
    ViewData["Title"] = "Lista de Valores";
}

<h3>@ViewData["Title"]</h3>
<h1></h1>
<h5>Lista</h5>
<hr></hr>
<p>
    <a asp-action="Create" class="btn btn-info btn-sm">Cadastrar Lista de Valor</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Ativo")
            </th>
            <th>
                @Html.DisplayName("Ações")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>

            </tr>
        }
    </tbody>



</table>


